.dashboard{ 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    height: 600px;
    gap:10px;
}

.dashboard>div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    background-color: var(--primary-color);
}

.dashboard>div:hover{
    box-shadow: 10px 10px 5px 0px var(--shadow-color);
-webkit-box-shadow: 10px 10px 5px 0px var(--shadow-color);
-moz-box-shadow: 10px 10px 5px 0px var(--shadow-color);

box-shadow: 1px -1px 15px 10px var(--shadow-color);
-webkit-box-shadow: 1px -1px 15px 10px  var(--shadow-color);
-moz-box-shadow: 1px -1px 15px 10px var(--shadow-color);
}

@media( min-width: 768px){
    .dashboard{
        grid-template-columns: 1fr 1fr;
        width: 600px;
        height: 600px;
    }
}