.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input{
    width: 10%;
}

button{
    width: 30%;
    margin: 0 auto;
    padding: 6px;
    background-color: rgb(92, 177, 92);
}