.container{
    background-color: var(--quintenary-color);
    display: flex;
    margin-bottom: 10px;
}
.container nav{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: auto 0;
}

.container li:last-child{
    margin-left: auto;
}

.container li{
    width: 100px;
    list-style: none;
    border: 1px solid black;
    padding: 12px;
    text-align: center;   
}

.container li:hover{
    color: #9F9F9F;
    border-color: #9F9F9F;
    cursor: pointer;
}
